
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: auto;
    overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom:1em;
}

header img {
  width: 20em;
  height: 20em;
  border-radius: 9999px;
}

header h1 {
    text-align: center ;
}

article .links {
    display: flex;
    justify-content: center;
    align-items: center;;
}

article .links a {
    color: #0070f3;
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
